.jumbotron{
  background-color: #66A5AD;
}

body{
  background-color: #C4DFE6;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #003B46;
  color: #66A5AD !important;
}

.btn-primary.disabled, .btn-primary:disabled{
 background-color: #66A5AD;
 color: #C4DFE6;
 border-color: #66A5AD;
}

.btn-primary{
 background-color: #003B46;
 color: #C4DFE6;
 border-color: #003B46;
}

.text-color-change{
  color: #003B46;
}

.nav>li>a:focus, .nav>li>a:hover {
  color: #eee;
}
