@media only screen and (max-width:400px){
    h1{
        font-size: 15px !important;
        font-weight: 1900;
    }

    h4{
        font-size:10px;
    }

    .margin-top-adjust{
        margin-top: -8px ;
    }

    .scrollable{
        height: 80px;
        overflow: scroll;
        overflow-y: auto;
    }
}

.scrollable{
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-title{
    text-align: center;
}

.card-img{
    -webkit-filter: blur(1px);
}


.black-background{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

